/* Dans ce fichier, je vais définir les propriétés graphiques de mes balises.
pour cela, j'utilise des sélecteurs, pour chaqun d'entre eux je leur donnerais des instructions*/

html,body{                 /* <= sélecteur */
    width: 100%;           /* <= suite d'instructions comprisent entre des {} */
    height: 100%;
    margin: 0; padding: 0;
    position: relative;
    font-size: 100%;
    font-family: 'Lucida Sans Regular';
} 
/* body{
    position: relative;
} */

/****************** Le header *********************/

/* Je vais utiliser la propriété display pour modifier l'emplacement des éléments */
header{
    width: 100%;
    height: auto;
    /* display: inline-block; */
    display: flex;
    position: relative;
}
#img{
    width: 25%;
    height: auto;
    /* position: relative; */
    /* flex: initial; */
}

#text-logo{
    /* flex: none; */
    /* width: 100%;
    height: auto; */
    margin-left: 30%;
    align-items: first baseline;
    /* text-align: center; */
    /* align-content: center; */
    /* position: relative; */
    font-size: 1.2rem;
    /* font:caption */
    font-weight: lighter;
    padding-top: 5%;
    
}

        /*********** Le menu **********/

nav{
    /* width: 100%;
    height: auto; */
    /* position: relative; */
    display: flex;
    background-color: black;
    margin-bottom: 10px;
    padding: 1%;
}

/* le inline-block permet d'espacer les boîtes*/
nav li{
    display: inline-block;
    list-style: none;
}

/* Les liens du menu et du pied de page auront la même apparence */
a{
    /* text-decoration: none; */
    width: auto;
    color: white;
    padding-top: 10px;
    
}

a:hover{
    color: rgb(25, 153, 212);
}

menu déroulant pour mobile
#menu-mobile{
    color: white;
    
}

#menu-burger :hover{
    color: rgb(25, 153, 212);
}

        /****** image promo **********/


#promo{
    width: 100%;
    height: auto;
}

        /******** Le footer *************/
footer{
    width: 100%;
    height: auto;
    /* display: flex; */
    background-color: black;
    position: absolute;
    /* margin-top: 0.6rem; */
    /* bottom: 0; */
    padding: 2%;

}

.liens{
    position: relative;
    /* display: inline-block; */
    /* list-style: none; */
    bottom: 0;
}

.liens a{
        justify-items: space-between;

}

        /****** PAGE ACCUEIL ********/

/* Ici je vais rendre flexible les éléments contenu dans la balise section
avec le modèle de grilles pour pouvoir les placer comme demandé */
section{
    display: flex;
    margin-top: 0.6rem;
    /* position: relative; */
    padding-bottom: 0.6rem;
}
    
article h1{
    font-size: 1.8rem;
    font-size: 2rem;
}

.article{
    border-top: 0.06rem solid;
}

aside{
    width: 50%;
    background-color: grey;
}


        /*********** PAGE TABLEAU ********** */


.responsive{
    overflow-x: auto;
    height: 100%;
    padding-bottom: 2rem;
    position: relative;
}
table{
    border-collapse: separate;
    width: 80%;
    /* height: 100%; */
    display: table;
    /* position: relative; */
    table-layout: fixed;
    border-spacing: 1rem;
    /* width: ; */
    /* display: inline-block; */
    /* border-spacing: 1rem;
    justify-content: space-between;
    /* font-family: 'Lucida Sans Sherif';
    text-align: center; */
    /* padding-bottom: ; */
}

caption{
    border-bottom: 0.06rem solid;
    text-align: left;
    font-weight: bold;
    font-size: 1.8rem;
}

/* thead{
    padding-bottom: 5%;
} */
tbody, thead{
    margin: auto;
    /* border-collapse: collapse;
    border-spacing: 0rem;    */
}
th{

}
th, td{
    font-family: 'Lucida Sans Sherif';
    text-align: center;
    /* font-weight: 100; */
}

td img{
    width: 50%;
}


        /************* PAGE CONTACT ********** */
.container{
    width: 100%;
    /* margin: auto; */
    padding-bottom: 5%;
    border-radius: 5%; 
}

#formulaire{
    /* j'utilise une valeur de type inside pour organiser le contenu du formulaire */
    display: table;
    /* background-color: rgb(165, 156, 156); */
}

.champ{
    margin-bottom: 2%;
}

label{

}

input{
    /* border: none; */
    border-radius: 5%;
    cursor: pointer;
    margin-left: 2%;

}

        /*********** responsive **************/
    /* Je vais utiliser la valeur screen qui correspond aux écrans */
    /*pour tous les écrans de taille inférieur à 768px*/

@media screen and (max-width: 768px){
    header{
        width: 80%;
    }
    #text-logo{
        font-size: small;
    }
    
    aside{
        display: none;
    }
    /* .responsive{
        overflow-x: auto;
    } */
    table{
        table-layout: auto;
    }


}

@media screen and (max-width: 576px) {
    /* nav{
        height: 10%;
    } */
    nav li{
        display: flex;
        flex-flow: column wrap;
        font-size: small;
    }
    table{
        /* display: block; */
        height: 100%;
        /* position: relative; */
    }  */
    .responsive{
        /* margin: 3rem; */
        /* min-height: 100%; */
        padding-bottom: 0%;

    }
    footer{
        /* padding: 20%; */
    }
}

