/* Dans ce fichier, je vais définir les propriétés graphiques de mes balises.
pour cela, j'utilise des sélecteurs, pour chaqun d'entre eux je leur donnerais des instructions*/

html,
body {
    /* <= sélecteur */
    width: 100%;
    /* <= suite d'instructions comprisent entre des {} */
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 100%;
}

@font-face {
    font-family: "Ubuntu Light";
    src: url("assets/fonts/Ubuntu-Light.ttf") format(ttf);
}

/****************** Le header *********************/

/* Je vais utiliser la propriété display pour modifier l'emplacement des éléments */
header {
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 2%;
}

#img-logo {
    width: 25%;
    height: 80%;
    /* position: relative; */
    /* flex: initial; */
}

#text-logo {
    /* /* width: 100%; */
    height: auto;
    /* margin-left: 30%; */
    /* margin-bottom: auto; */
    /* align-items: first baseline; */
    padding-left: 30%;
    /* position: relative; */
    /* margin-top: 10%; */
    padding-top: 4%;
    font-size: 1.2rem;
    font-weight: lighter;

}

/*********** Le menu **********/

nav {
    /*je centre les liens du menu verticalement */
    height: 5rem;
    line-height: 5rem;

    /* position: relative; */
    /* display: flex; */
    background-color: black;
}

/* le inline-block permet d'espacer les boîtes*/
nav li {
    display: inline-block;
    list-style: none;
}

/* Les liens du menu et du pied de page auront la même apparence */
a {
    /* text-decoration: none; */
    width: auto;
    color: white;
    /* j'espace les éléments de la liste */
    padding: 1rem;

}

a:hover {
    color: rgb(25, 153, 212);
}

/* menu déroulant pour mobile
#menu-mobile{
    color: white;
    
}

#menu-burger :hover{
    color: rgb(25, 153, 212);
} */

/****** image promo **********/


#img-promo {
    width: 100%;
    height: auto;
}

/******** Le footer *************/

footer {
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    /* display: flex; */
    background-color: black;
    position: absolute;
    /* margin-top: 0.6rem; */
    /* bottom: 0; */
    /* padding: 2%; */
}

.liens {
    position: relative;
    /* display: inline-block; */
    /* list-style: none; */
    bottom: 0;
}

.liens a {
    justify-items: space-between;

}

/****** PAGE ACCUEIL ********/

/* Ici je vais rendre flexible les éléments contenu dans la balise section
avec le modèle de grilles pour pouvoir les placer comme demandé */
section {
    display: flex;
    margin-top: 0.6rem;
    /* position: relative; */
    padding-bottom: 0.6rem;
}

article h2 {
    /* margin: auto; */
    font: 1.8rem "Ubuntu Light";
}

.article {
    border-top: 0.06rem solid;
}

.article h4 {
    font: 1.2rem "Ubuntu Light";
}

.article p {
    font-family: Lucida Sans Regular;
    line-height: 1.2rem;
}

aside {
    width: 50%;
    background-color: grey;
}


/*********** PAGE TABLEAU ********** */


.tableau {
    overflow-x: auto;
    height: 100%;
    padding-bottom: 2rem;
    position: relative;
}

table {
    border-collapse: separate;
    width: 80%;
    /* height: 100%; */
    display: table;
    /* position: relative; */
    table-layout: fixed;
    border-spacing: 1rem;
    /* width: ; */
    /* display: inline-block; */
    /* border-spacing: 1rem;
    justify-content: space-between;
    /* font-family: 'Lucida Sans Sherif';
    text-align: center; */
    /* padding-bottom: ; */
}

caption {
    border-bottom: 0.06rem solid;
    text-align: left;
    font-weight: bold;
    font-size: 1.8rem;
}

tbody,
thead {
    margin: auto;
    /* border-collapse: collapse;
    border-spacing: 0rem;    */
}

th,
td {
    font-family: 'Lucida Sans Sherif';
    text-align: center;
    /* font-weight: 100; */
}

td img {
    width: 50%;
}

/************* PAGE CONTACT ********** */

.container {
    width: 100%;
    /* margin: auto; */
    padding-bottom: 5%;
    border-radius: 5%;
}

#formulaire {
    /* j'utilise une valeur de type inside pour organiser le contenu du formulaire */
    display: table;
}

.champ {
    margin-bottom: 2%;
}

input {
    /* border: none; */
    border-radius: 5%;
    cursor: pointer;
    margin-left: 2%;
}

/*********** responsive **************/
/* Je vais utiliser la valeur screen qui correspond aux écrans */
/*pour tous les écrans de taille inférieur à 768px*/

@media screen and (max-width: 768px) {
    /* header{
        width: 80%; 
        display: flex;
        display: inline-block;
    } */

    #img-logo {
        width: 50%;
    }

    #text-logo {
        /* position: absolute; */
        /* flex: none; */
        font-size: 80%;
        padding-top: 10%;
        padding-left: 10%;
        margin: 0;
    }

    nav {
        padding: 0;
    }



    /*************** PAGE ACCUEIL ***************/

    article h1 {
        margin: auto;
    }

    .article {
        padding: 2%;
        font-size: large;
    }

    aside {
        display: none;
    }

    /***********PAGE TABLEAU ***********/

    table {
        table-layout: auto;
    }

    table {
        /* display: block; */
        height: 80%;
        /* position: relative; */
    }

    */ .tableau {
        /* margin: 3rem; */
        /* min-height: 100%; */
        /* height: 100%; */
        padding-bottom: 0;

    }

    tbody {
        line-height: 0;

    }

    /*************PAGE CONTACT ****************/

    /* .container{
        height: auto;
    } */
    #formulaire {
        padding: 2%;
    }
}

@media screen and (max-width: 576px) {
    nav li {
        display: flex;
        flex-flow: column wrap;
        font-size: small;
    }

    /* table{
        /* display: block; */
    /* height: 80%; */
    /* position: relative; */
    /* } 
    .tableau{
        height: 100%;
        padding-bottom: 0;

    }
    tbody{
        line-height: 0;

    } */
}