html,body{
    width: 100%;
    height: auto;
    margin: 0; padding: 0;
    font-size: 100%;
    font-family: 'Lucida Sans Regular';
} 

/****************** Le header *********************/

/* Je vais utiliser la propriété display pour modifier l'emplacement des éléments */
header{
    width: 100%;
    height: auto;
    display: inline-block;
    display: flex;
    /* position: relative; */
}
#img{
    width: 25%;
    height: auto;
    /* position: relative; */
    /* flex: initial; */
}

#text-logo{
    flex: none;
    /* width: 100%;
    height: auto; */
    margin-left: 30%;
    /* text-align: center; */
    /* align-content: center; */
    /* position: relative; */
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 100;
    /* padding-top: 3%; */
    
}

        /*********** Le menu **********/

nav{
    /* width: 100%;
    height: auto; */
    position: relative;
    display: flex;
    background-color: black;
    margin-bottom: 10px;
}

/* le inline-block permet d'espacer les boîtes*/
li{
    display: inline-block;
    list-style: none;
}

/* Les liens du menu et du pied de page auront la même apparence */
a{
    /* text-decoration: none; */
    width: auto;
    color: white;
    padding-top: 10px;
    
}

a:hover{
    color: rgb(25, 153, 212);
}

menu déroulant pour mobile
#menu-mobile{
    color: white;
    
}

#menu-burger :hover{
    color: rgb(25, 153, 212);
}

        /****** image promo **********/


#promo{
    width: 100%;
    height: auto;
}

        /******** Le footer *************/
footer{
    width: 100%;
    height: auto;
    background-color: black;
    position: relative;
    list-style: none;
    display: flex;
    margin-top: 0.6rem;
}

footer a{

}

        /****** PAGE ACCUEIL ********/

/* Ici je vais rendre flexible les éléments contenu dans la balise section
avec le modèle de grilles pour pouvoir les placer comme demandé */
section{
    display: flex;
    margin-top: 0.6rem;
    /* position: relative; */
}
article{
    /* font-family: 'Lucida Sans Regular'; */
    font-size: 1rem;
}
article h1{
    font-size: 1.8rem;
}

.container{
    border-top: 0.06rem solid;
}

aside{
    width: 50%;
    background-color: grey;
}


        /*********** PAGE TABLEAU ********** */
table{
    width: 100%;
    height: auto;
    display: table;
    position: relative;
    /* width: ; */
    /* display: inline-block; */
    border-top: 0.06rem solid;
    border-spacing: 1rem;
    justify-content: space-between;
    padding: 3rem;
}

caption{
    font-size: 1.8rem;
    text-align: left;
    /* padding-left: 5%; */
    font-weight: bold;
}

thead{
    padding-bottom: 5%;
}
/* tbody{
    padding-top: 4rem;
    
} */

td{
    text-align: center;
    /* font-weight: 100; */
}

td img{
    width: 25%;
}

/* .photo{
    width: 25%;
    height: auto;
    flex: 0.1; 
}*/

        /************* Formulaire********** */

.formulaire{
    /* j'utilise une valeur de type inside pour organiser le contenu du formulaire */
    display: table;
}

        /*********** responsive **************/
    /* Je vais utiliser la valeur screen qui correspond aux écrans */
    /*pour tous les écrans de taille inférieur à 768px*/

@media screen and (max-width: 768px){
    
    aside{
        display: none;
    }
    /* label{
        display: none;
    } */

}

@media screen and (max-width: 576px) {
    /* nav{
        height: 50px;
    } */
    nav li{
        display: flex;
        flex-flow: column wrap;
        font-size: small;
    }
    table{
        width: 100%;
    } 
}

