h1{
    text-align: center;
}

li li{
    list-style-type: circle;
}

li li li{
    list-style-type: circle;
}

li li li li{
    list-style-type: square;
}
/* je cherche comment eviter les répétition en attendant je vais frodonner
cette petite chanson : la la la la la la li li li li li  :) */
