/* .container{
    width: 100%;
    margin: auto;
    padding-bottom: 5%;
    border-radius: 5%; 
    display: flex;
} */
/* fieldset{
    display: inline-block;
} */
label{
    display: inline-block;
    min-width: 200px;
}

/* #formulaire{
    /* j'utilise une valeur de type inside pour organiser le contenu du formulaire */
    /* display: table;
} */ 

.champ{
    margin-bottom: 2%;
}

small {
    color: red;
}
input{
    border-radius: 5%;
    cursor: pointer;
    margin-left: 2%;
}

/* # male {

} */